In [3]:
# importing necessary libraries 

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# loading the dataset

crop_data=pd.read_csv("Crop_recommendation.csv")
crop_data

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [5]:
crop_data.shape

(2200, 8)

In [6]:
crop_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

In [7]:
# dataset columns
crop_data.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'label'], dtype='object')

In [8]:
crop_data.rename(columns = {'label':'Crop'}, inplace = True)
crop_data

        N   P   K  temperature   humidity        ph    rainfall    Crop
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [9]:
# statistical inference of the dataset

crop_data.describe()

,N,P,K,temperature,humidity,ph,rainfall
count,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000,2200.000000
mean,50.551818,53.362727,48.149091,25.616244,71.481779,6.469480,103.463655
std,36.917334,32.985883,50.647931,5.063749,22.263812,0.773938,54.958389
min,0.000000,5.000000,5.000000,8.825675,14.258040,3.504752,20.211267
25%,21.000000,28.000000,20.000000,22.769375,60.261953,5.971693,64.551686
50%,37.000000,51.000000,32.000000,25.598693,80.473146,6.425045,94.867624
75%,84.250000,68.000000,49.000000,28.561654,89.948771,6.923643,124.267508
max,140.000000,145.000000,205.000000,43.675493,99.981876,9.935091,298.560117

In [10]:
# Checking missing values of the dataset in each column
crop_data.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
Crop           0
dtype: int64

In [11]:
# Dropping missing values 
crop_data = crop_data.dropna()
crop_data

        N   P   K  temperature   humidity        ph    rainfall    Crop
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [12]:
#checking
crop_data.isnull().values.any()

False

In [13]:
crop_data.Crop.unique()

array(['rice', 'maize', 'chickpea', 'kidneybeans', 'pigeonpeas',
       'mothbeans', 'mungbean', 'blackgram', 'lentil', 'pomegranate',
       'banana', 'mango', 'grapes', 'watermelon', 'muskmelon', 'apple',
       'orange', 'papaya', 'coconut', 'cotton', 'jute', 'coffee'],
      dtype=object)

In [14]:
crop_data.corr()

C:\Users\hr893\AppData\Local\Temp\ipykernel_11876\2551321222.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  crop_data.corr()

,N,P,K,temperature,humidity,ph,rainfall
N,1.000000,-0.231460,-0.140512,0.026504,0.190688,0.096683,0.059020
P,-0.231460,1.000000,0.736232,-0.127541,-0.118734,-0.138019,-0.063839
K,-0.140512,0.736232,1.000000,-0.160387,0.190859,-0.169503,-0.053461
temperature,0.026504,-0.127541,-0.160387,1.000000,0.205320,-0.017795,-0.030084
humidity,0.190688,-0.118734,0.190859,0.205320,1.000000,-0.008483,0.094423
ph,0.096683,-0.138019,-0.169503,-0.017795,-0.008483,1.000000,-0.109069
rainfall,0.059020,-0.063839,-0.053461,-0.030084,0.094423,-0.109069,1.000000

In [15]:
df=crop_data

In [16]:
# Selection of Feature and Target variables.

x = df[['N', 'P','K','temperature', 'humidity', 'ph', 'rainfall']]
target = df['Crop']

In [17]:
# Encoding target variable 

y = pd.get_dummies(target)
y

,apple,banana,blackgram,chickpea,coconut,coffee,cotton,grapes,jute,kidneybeans,...,mango,mothbeans,mungbean,muskmelon,orange,papaya,pigeonpeas,pomegranate,rice,watermelon
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2196,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2197,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2198,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2199,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
# Splitting data set - 25% test dataset and 75% 


from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25, random_state= 0)

print("x_train :",x_train.shape)
print("x_test :",x_test.shape)
print("y_train :",y_train.shape)
print("y_test :",y_test.shape)

x_train : (1650, 7)
x_test : (550, 7)
y_train : (1650, 22)
y_test : (550, 22)

In [19]:
# Importing necessary libraries for multi-output classification

from sklearn.datasets import make_classification
from sklearn.multioutput import MultiOutputClassifier
from sklearn.ensemble import RandomForestClassifier

In [20]:
# Training

forest = RandomForestClassifier(random_state=1)
multi_target_forest = MultiOutputClassifier(forest, n_jobs=-1)
multi_target_forest.fit(x_train, y_train)

MultiOutputClassifier(estimator=RandomForestClassifier(random_state=1),
                      n_jobs=-1)

In [24]:
# Predicting test results 

forest_pred = multi_target_forest.predict(x_test)
forest_pred
(x_test,y_test)

(        N    P    K  temperature   humidity        ph    rainfall
 1320  105   14   50    26.214884  87.688398  6.419052   59.655908
 1367   91   12   46    24.644585  85.499382  6.343943   48.312190
 1291   14  121  203     9.724458  83.747656  6.158689   74.464111
 264    52   73   79    17.257695  18.749440  7.840339   94.002872
 728    32   66   17    34.946616  65.267740  7.162358   70.141514
 ...   ...  ...  ...          ...        ...       ...         ...
 1999  120   60   15    22.318719  83.861300  7.288377   65.357470
 1171    9   21   32    32.269353  53.560928  5.870116   95.940354
 2136   84   27   29    23.322932  53.003663  7.167093  168.264429
 1882   31   13   33    29.699523  95.212244  6.342464  148.300369
 938     5   24   40    24.692258  93.870301  6.297908  104.673545

 [550 rows x 7 columns],
       apple  banana  blackgram  chickpea  coconut  coffee  cotton  grapes  \
 1320      0       0          0         0        0       0       0       0
 1367      0       0          0         0        0       0       0       0
 1291      0       0          0         0        0       0       0       1
 264       0       0          0         1        0       0       0       0
 728       0       0          1         0        0       0       0       0
 ...     ...     ...        ...       ...      ...     ...     ...     ...
 1999      0       0          0         0        0       0       1       0
 1171      0       0          0         0        0       0       0       0
 2136      0       0          0         0        0       1       0       0
 1882      0       0          0         0        1       0       0       0
 938       0       0          0         0        0       0       0       0

       jute  kidneybeans  ...  mango  mothbeans  mungbean  muskmelon  orange  \
 1320     0            0  ...      0          0         0          0       0
 1367     0            0  ...      0          0         0          0       0
 1291     0            0  ...      0          0         0          0       0
 264      0            0  ...      0          0         0          0       0
 728      0            0  ...      0          0         0          0       0
 ...    ...          ...  ...    ...        ...       ...        ...     ...
 1999     0            0  ...      0          0         0          0       0
 1171     0            0  ...      1          0         0          0       0
 2136     0            0  ...      0          0         0          0       0
 1882     0            0  ...      0          0         0          0       0
 938      0            0  ...      0          0         0          0       0

       papaya  pigeonpeas  pomegranate  rice  watermelon
 1320       0           0            0     0           1
 1367       0           0            0     0           1
 1291       0           0            0     0           0
 264        0           0            0     0           0
 728        0           0            0     0           0
 ...      ...         ...          ...   ...         ...
 1999       0           0            0     0           0
 1171       0           0            0     0           0
 2136       0           0            0     0           0
 1882       0           0            0     0           0
 938        0           0            1     0           0

 [550 rows x 22 columns])

In [22]:
# Calculating Accuracy

from sklearn.metrics import accuracy_score
a1 = accuracy_score(y_test, forest_pred)
print('Accuracy score:', accuracy_score(y_test, forest_pred))

Accuracy score: 0.9709090909090909

In [23]:
y_test

,apple,banana,blackgram,chickpea,coconut,coffee,cotton,grapes,jute,kidneybeans,...,mango,mothbeans,mungbean,muskmelon,orange,papaya,pigeonpeas,pomegranate,rice,watermelon
1320,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1367,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1291,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
264,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
728,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1171,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2136,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1882,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
938,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

<b> Cross-validation </b>

In [51]:
from sklearn.model_selection import cross_val_score
score = cross_val_score(multi_target_forest,X = x_train, y = y_train,cv=5)
score

array([0.96666667, 0.95757576, 0.97575758, 0.98484848, 0.96969697])

In [53]:
import pickle
with open('rf_model.pkl', 'wb') as f:
    pickle.dump(multi_target_forest, f)

In [25]:
print('Accuracy score:', accuracy_score(y_test, forest_pred))

Accuracy score: 0.9709090909090909